<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kartik Kannapur's Blog</title>

	<!-- Bootstrap -->
	<link href="../static/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>


      <div id="masthead">  
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h1>MyPersonalBlog
                <p class="lead">by Kartik Kannapur</p>
              </h1>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-sm-12">
                  You have signed in as {{name}}     
                </div>
              </div>
            </div>
          </div> 
        </div><!-- /cont -->


      </div>


      <div class="container">
        <div class="row">

          <div class="col-md-12"> 

            <div class="panel">
              <div class="panel-body">


                <!--/stories-->
                <div class="row">    
                  <br>
                  <div class="col-md-2 col-sm-3 text-center">
                    <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
                  </div>
                  <div class="col-md-10 col-sm-9">
                    <h3>Post Entry Title</h3>
                    <div class="row">
                      <div class="col-xs-9">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                          Aliquam in felis sit amet augue.</p>
                          <p class="lead"><button class="btn btn-default">Read More</button></p>
                          <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                          <ul class="list-inline"><li><a href="#">2 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
                        </div>
                        <div class="col-xs-3"></div>
                      </div>
                      <br><br>
                    </div>
                  </div>
                  <hr>

                  

                      <div class="row">    
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                          <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                          <h3>Another Entry Title</h3>
                          <div class="row">
                            <div class="col-xs-9">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                                Aliquam in felis sit amet augue.</p>
                                <p class="lead"><button class="btn btn-default">Read More</button></p>
                                <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                                <ul class="list-inline"><li><a href="#">1 Week Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
                              </div>
                              <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                          </div>
                        </div>
                        <hr>
                        <!--/stories-->


                        <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>


                      </div>
                    </div>



                  </div><!--/col-12-->
                </div>
              </div>




              <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
              <!-- Include all compiled plugins (below), or include individual files as needed -->
              <script src="../static/bootstrap.min.js"></script>
            </body>
            </html>